*,
*::before,
*::after {
  box-sizing: border-box;
}

:root{
  --color-granite: 225, 5%, 15%;
  --color-nemo: 14, 100%, 53%;
  --color-foam: 263, 100%, 61%;
  --color-snow: 0, 0%, 100%;

  --letter-space: 0.025em;
  
  --border-rad-s: 4px;
  --border-rad-m: 8px;
  --border-rad-l: 16px;
}

body {
  margin: 0;
  font-family: system-ui;
  line-height: 1.2;
}

header {
  background: hsla(var(--color-foam) , 0.45);
  
}

h1 {
  text-align: center;
  color: hsl(var(--color-snow));
  line-height: 1.4;
  margin: 0;
  letter-spacing: var(--letter-space);
  text-transform: uppercase;
  padding-block: 16px;
}

h2 {
  letter-spacing: var(--letter-space);
}

strong {
  color: hsl(var(--color-nemo));
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding: 16px;
  width: min(1000px, 100%);
  margin: 0 auto;
}

article {
  flex: 1 200px;
}

img {
  max-width: 100%;
  display: block;
}

figure {
  width: min(100%, 400px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 10px;
  background-color: hsl(var(--color-nemo));
  border-radius: var(--border-rad-l);
}

figcaption {
  color: hsl(var(--color-snow));
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 16px;
}

a {
  display: inline-block;
  font-size: smaller;
  padding: 8px;
  border-radius: var(--border-rad-m);
  background-color: hsl(var(--color-nemo));
  color: hsl(var(--color-snow));
}

a:hover,
a:focus-visible {
  background-color: hsla(var(--color-foam), 0.482);
  text-decoration: none;
}

mark {
  background-color: hsl(var(--color-nemo));
  color: hsl(var(--color-snow));
  border-radius: var(--border-rad-s);
  letter-spacing: var(--letter-space);
}

::selection {
  background-color: hsl(var(--color-granite));
  color: hsl(var(--color-nemo));
}
